html, body{
    width: 100%;
    height: 100%;
}

#chartContainer{
    width: 200%;
    height: 100%;
}

#timeToRender {
    position:absolute; 
    top: 10px; 
    font-size: 20px; 
    font-weight: bold; 
    background-color: #d85757;
    padding: 0px 4px;
    color: #ffffff;
}